Source: welcome-leste
Maintainer: Pavel Machek <pavel@ucw.cz>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: welcome-leste
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gtk2
Description: Welcome Leste
 Provides welcome dialog with basic information about Maemo Leste.
 
